
/*background color*/
	.main {
		background-color: #E0EBE8;
	}

/*navigation links*/

	.links {

	}

/*first row*/

	.first {
		/*padding-top: 4%;*/
	}

	/*intermediate*/

	.intermediate {
		margin-top: 2%;
	}

	.additionwrap {
		text-align: center;
		padding-top: 1%;
	}

	/*second row*/

	.secondrow {
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.second {
		background-color: white;
		margin-top: 2%;
		box-shadow: 0px 0px 10px 2px #b2bec3;
		padding-top: 1%;
		padding-bottom: 1%;
	}

/*main content in first row*/

	.big-content {
		padding-left: 4%;
		text-align: right;
	}

/*profile pic*/

	.profile {
		max-width: 50%;
		height: auto;
		border-radius: 175px;
	}

/*project head*/

	.projecthead {
		text-align: center;
	}

/*project content*/

	.projectcon {
		text-align: center;
		font-size: 25px;
	}

	.projectmini {
		padding: 0 15% 0 15%;
	}

/*icon style*/

	.icon {
		text-align: center;
		color: #3498db;
	}
	.icon:hover {
		text-align: center;
		color: #0984e3;
	}

/*third row*/

	.third {
		margin-top: 2%;
		margin-bottom: 2%;
	}

	.thirdrow {
		padding-top: 1%;
		/*padding-bottom: 1%;*/
	}

	/*mute text*/

	.mutetext {
		font-size: 20px;
	}

	.company:hover {
		box-shadow: 0px 0px 10px 1px #b2bec3;
	}

	.starfill{
		color: #0984e3;
	}

	/*li {
		background-color: #E0EBE8;
		border: none;
	}*/